html{
    background-color:rgb(34, 45, 49);
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 30px;
}

#ttl{
    text-align: center;
    font-size: 4rem;
    color: white;
}

#ttl0{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 70px;
    color: white;
} 


.sqr{
    height: 280px;
    width: 280px;
    border-radius: 12%;
}

#red{
    background-color: red;
    margin-left: 50%;
}

#green{
    background-color: green;
    margin-right: 50%;
}

#blue{
    background-color: blue;
    margin-left: 50%;
}

#yellow{
    background-color: yellow;
    margin-right: 50%;
}

.pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }