html{
    background-color:rgb(34, 45, 49);
}

#container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 30px;
}

.sqr{
    height: 250px;
    width: 250px;
}

#sqrR{
    background-color: red;
}

#sqrG{
    background-color: green;
}

#sqrB{
    background-color: blue;
}

#sqrY{
    background-color: yellow;
}